html, body {
    height: 100%;
}

#navcontainer {
    border-bottom: 3px solid #ccc;
    padding: 0 100px 0 100px;
}

#name {
    background: #4aaaa5;
    color: white;
    font-size: 30pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#navlink {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20pt;
}

.line {
    color: #777777;
    border-width: 2px;
    margin-left: -15px;
    margin-right: -15px;
}

container {
    border: 3px solid #dddddd;
    min-height: 100%;
    position: relative;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#card-header {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28pt;
    font-weight: bold;
}

#green-line {
    background: #4aaaa5;
    height: 10px;
}

footer {
    height: 100px;
    widows: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}