body {
    background: url("../../img/connectwork.png");
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, #logo {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

h1 {
    color: #4aaaa5;
    border-bottom: 3px solid #ddd
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 90px;
    /* Margin bottom by footer height */
}

.footer {
    border-top: 8px solid #4aaaa5;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #666;
}

#logo {
    color: #fff;
    background: #4aaaa5;
    height: 90px;
    line-height: 90px;
    font-size: 30px;
}

#main-content {
    margin-top: 60px;
    border: 1px solid #ddd;
}

#masthead {
    border-bottom: 2px solid #ccc;
}

nav a {
    font-size: 18px;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 90px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}

nav a:first-child {
    border-left: 0 none;
}

#profile-pic {
    padding: 1em;
}

.main-section {
    width: 100%;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}

.content-header {}

img {
    width: 100%
}

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}